# URL deployment Google Apps Script Web App (Deploy > New deployment > Web app)
VITE_FMO_LEADS_ENDPOINT=https://script.google.com/macros/s/AKfycbxG8rv0SrQhywcIMKFPP8yxHEudP_ibakIHPU5rDBYNwR1FeAKvxRJOvlLJ0A_-j-cH9Q/exec

# Daftar email Admin dashboard, pisahkan dengan koma jika lebih dari satu.
FMO_ADMIN_EMAILS=admin@fmowedding.com
